cmake
pkg-config
libjpeg-dev
libtiff5-dev 
libjasper-dev 
libpng12-dev
libavcodec-dev 
libavformat-dev 
libswscale-dev 
libv4l-dev
libxvidcore-dev 
libx264-dev
libgtk2.0-dev 
libgtk-3-dev
libatlas-base-dev 
gfortran
tensorflow
numpy
streamlit
seaborn
pandas
matplotlib
scikit_learn
shap
lifelines
opencv-python==3.4.2.17